@use "../../../../styles/_tokens";
@use "../../../../styles/_shared" as *;

.combat-log ul {
  @include panel-list(0.5rem, 0.5rem);
}

.combat-log li {
  @include panel-card(0.75rem, 8px);
}

.combat-log__header {
  display: flex;
  justify-content: space-between;
}
